.game {
  display: flex;
}

.game_board {
  display: inline;
}

.game_info {
  display: inline;
}
.board {
  width: 500px;
  height: 500px;
  margin: 70px;
}

.square {
  width: 150px;
  height: 150px;
  font-size: 100px;
  float: left;
}

.next_player_anonce {
  margin-left: 100px;
  font-size: 30px;
}
